.grid-container {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 10px;
  padding: 10px;
}

.right {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.left img {
  width: 100px;
}

.menu {
  border-bottom: 1px solid #d3d3d352;
}
