@import "./variables.scss";


h1.title{
    font-size: 1.2em;
    font-weight: 700;
    color: $primary-color;
    text-transform: uppercase;
    transform: scaleY(2);
}

h2.subtitle{
    font-size: 1em;
    font-weight: 300;
    color: $primary-color;
    text-transform: uppercase;
    transform: scaleY(2);
}