@import "./variables.scss";


h2.title{
    font-size: 36px;
    color: $primary-color;
    text-transform: uppercase;
    margin: 20px 0 40px;
}

h3.subtitle{
    font-size: 18px;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 0.135em;
    margin: 0;
}