.radioButton span {
  color: orange;
  border: solid 2px orange;
  border-radius: 20px;
  padding: 5px 10px;
  padding: 5px 20px;
}

.radioButton span:hover {
  color: #ffffff;
  border: none;
  background-color: orange;
  border: solid 2px orange;
}
