// COLORS
$primary-color: #FF910F;
$primary-color-dark: #e05a00;
$primary-color-highlight: #FAEED4;
$white: #ffffff;

$secondary-color: #c74e99;
$secondary-color-dark: #a93d81;
$secondary-color-highlight: #d394c2;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin&display=swap');

